body {
    background-color: lightsteelblue;
}

table, tr, td {
    border: 1px solid black;
    background-color: lightyellow;
}

form#new {
    border: 1px solid black;
    background-color: lightskyblue;
    width: 250px;
}

